@model TestMaster.Models.UserAnswer

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraderNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraderNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChosenOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChosenOption.OptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserAnswerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
