@model TestMaster.Models.UserAnswer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraderNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraderNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChosenOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChosenOption.OptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Session)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserAnswerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
